@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}
